footer {
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(30, 29, 29);
    background-color: map-get($colores_web,color_secundario);
    margin-bottom: 0px; 
    .copy {
    
        top: 40px;
        left: 50px;
        color: black;
        font-size: 12px;
        margin-left: 50px;
        margin-top: 10px;
        
    }  
    .medio { 
        top: 15px;
        right: 750px;
        text-align: center;
        margin-top: 10px;
        a {
            color: rgba(0, 0, 0, 0.571);
            font-size: 12px;
            margin-right: 15px;
        }
    }
    .redes {
    
        top: 5px;
        right: 200px;
        margin-right: 50px;
        margin-bottom: 20px;
        margin-top: 10px;
        li {
            color:black;
            list-style:  none;
            a {
                color: rgba(0, 0, 0, 0.571);
                font-size: 13px;
            }
        }
    }
}