/*mapas*/
$colores_web : (
    color_primario : 0,
    color_secundario : 0,
    color_terciario : 0,
    color_cuaternario : 0,
    color_letra : 0,
    navegacion_mobile_color :0, 
);
/*condcionales*/
/*temas disponibles: default/claro/oscuro/rainbow*/
$tema : default;

@if $tema == default {
    $colores_web : (
    color_primario : #079ef6,
    color_secundario : #313131,
    color_terciario : linear-gradient(29deg, rgba(159,159,159,1) 0%, rgba(60,60,60,1) 100%),
    color_cuaternario : #414141,
    color_letra : white,
    navegacion_mobile_color :#222222) 
} @else if $tema == claro{
    $colores_web : (
    color_primario : #079ef6,
    color_secundario : #747474,
    color_terciario : linear-gradient(86deg, rgba(122,122,122,1) 0%, rgba(255,255,255,1) 100%),
    color_cuaternario : #464545,
    color_letra : rgb(10, 10, 10),
    navegacion_mobile_color :#8c8a8a)  
} @else if $tema == oscuro{
    $colores_web : (
    color_primario : #079ef6,
    color_secundario : #1c1c1c,
    color_terciario : linear-gradient(180deg, rgba(51,51,51,1) 0%, rgba(0,0,0,1) 100%),
    color_cuaternario : #212121,
    color_letra : white,
    navegacion_mobile_color :#0e0e0e) 
} @else if $tema == rainbow {
    $colores_web : (
    color_primario : #e5ff00,
    color_secundario : #06ffc1,
    color_terciario : linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(255,100,0,1) 14%, rgba(207,209,39,1) 32%, rgba(0,255,23,1) 50%, rgba(0,174,255,1) 64%, rgba(104,0,255,1) 78%, rgba(190,0,255,1) 100%),
    color_cuaternario : #0000ff,
    color_letra : rgb(15, 15, 15),
    navegacion_mobile_color :#df04f7) 
}@else {$colores_web : (
    color_primario : #079ef6,
    color_secundario : #313131,
    color_terciario : #525252,
    color_cuaternario : #414141,
    color_letra : white,
    navegacion_mobile_color :#222222) }

/*variables*/
$cursiva : 'Lobster', cursive;

/*mixin*/
@mixin estilo_productos {
    background-color: map-get($colores_web,color_secundario);
        width: 480px;
        margin: 20px;
        overflow: hidden;
        .imagen_producto {
            width: 100%;
            transition: 0.5s;
            object-fit: cover;
            margin-bottom: 15px;
            &:hover {
                transform: scale(1.15);
            }
        }
        p {
            color: map-get($colores_web,color_letra);
            font-size: 25px;
        }
        .nombre {
            margin-top: 2px;
            margin-left: 20px;   
        }
        .precio {
            width: 240px;
            text-align: end;
            margin-right:0px;
            margin-bottom: 10px;
            display: inline-block;
        }
        button {
            background-color: map-get($colores_web,color_cuaternario);
            color: map-get($colores_web,color_primario);
            margin-right: 140px;
            margin-left: 15px;
            padding: 5px 6px;
            border-radius: .5rem;
            border: 0;
            transition: 0.5s;
            &:hover{
                background-color: map-get($colores_web,color_primario);
                color: map-get($colores_web,color_cuaternario);
            } 
        }
} 

@mixin estilo_productos_mobile {
    flex-direction: column;
            margin-left: 0%;
            margin-right: 0%;
            .nombre{
                margin-left: 15px;
            }
            p {
                font-size: 20px;
            }
            a{ display: inline-block;
                width: 30%;
                button{
                    width: 100%;
                    margin:0;
                    margin-left: 10px;
                }
            }
            .precio{
                text-align: end;
                width: 65%;
                
            }
}


/*keyframes*/
@keyframes efecto_titulo{
    0%{}
    25%{filter: drop-shadow(0px 0px 2px #079ef6);}
    50%{filter: drop-shadow(0px 0px 3px #079ef6);}
    75%{filter: drop-shadow(0px 0px 2px #079ef6);}
    100%{}
}







* {
    margin: 0;
    padding: 0;
    font-family: 'Titillium Web', sans-serif;
    text-decoration: none;
}
body{
    background: map-get($colores_web,color_terciario) !important; 
}

