.main_index {
    display: grid;
    grid-template-areas: 
    "section1 section2 section2"
    "section1 section2 section2"
    "section1 section3 section3";
    margin: 80px 80px;
    column-gap: 25px ;
    row-gap: 25px ;
    .section1_index {
        grid-area: section1;
        background-color: #313131;
        .titulo_index {
            font-family: 'Lobster', cursive;
            color: #079ef6;
            font-size: 35px;
            text-align: center;
        }
        .texto_index {
            color: black;
            font-weight: 1000;
            font-size: 23px;
            text-align: center;
            margin-left: 50px;
            margin-right: 50px;
        }
    }
    .section2_index {
        grid-area: section2;
    }
    .section3_index {
        grid-area: section3;
        display:flex;
        justify-content: space-around ;
        background-color:#313131 ;
        color: black;
        border-radius: 1%;
        .caract_confianza {
            margin-left: 20px;
        }
        .caract_index_titulo {
            font-family: 'Lobster', cursive;
            color: #079ef6;
            text-align: center;
            font-size: 25px;
            font-weight: 600;
            text-decoration: underline;
        }
        .info_index {
            text-align: center;
            font-size: 19px;
            font-weight: 700;
        }
    }
}
