.main_index {
    display: grid;
    grid-template-areas: 
    "section1 section2 section2"
    "section1 section2 section2"
    "section1 section3 section3";
    margin: 80px 80px;
    column-gap: 25px ;
    row-gap: 25px ;
    .section1_index {
        grid-area: section1;
        background-color: map-get($colores_web,color_secundario);
        .titulo_index {
            font-family: $cursiva;
            color: map-get($colores_web,color_primario);
            font-size: 35px;
            text-align: center;
            animation-name: efecto_titulo;
            animation-iteration-count: infinite;
            animation-timing-function: ease;
            animation-duration: 4s;
            animation-delay: 1s;
        }
        .texto_index {
            color: black;
            font-weight: 1000;
            font-size: 23px;
            text-align: center;
            margin-left: 50px;
            margin-right: 50px;
        }
    }
    .section2_index {
        grid-area: section2;
    }
    .section3_index {
        grid-area: section3;
        display:flex;
        justify-content: space-around ;
        background-color: map-get($colores_web,color_secundario) ;
        color: black;
        border-radius: 1%;
        .caract_confianza {
            margin-left: 20px;
        }
        .caract_index_titulo {
            font-family: $cursiva;
            color: map-get($colores_web,color_primario);
            text-align: center;
            font-size: 25px;
            font-weight: 600;
            text-decoration: underline;
            animation-name: efecto_titulo;
            animation-iteration-count: infinite;
            animation-timing-function: ease;
            animation-duration: 4s;
            animation-delay: 1s;
        }
        .info_index {
            text-align: center;
            font-size: 19px;
            font-weight: 700;
        }
    }
}
