@media (max-width: 525px) {

    /* Encabezado responsive */
    .encabezado {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        background-color: map-get($colores_web,color_secundario);
        border: 1px solid rgb(30, 29, 29);
        padding-bottom: 10px;
        padding-top: 10px;
        margin-bottom: 20px;
        h1 {
            font-family: $cursiva;
            text-align: start;
            color: map-get($colores_web,color_primario);
            font-size: 40px;
            margin-left: 15px;
            text-decoration: underline;
            order: 1;
        }
        div {
            display: none;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        nav {
            display: none;
        }
        .Buscador {
            display: flex;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            margin-top: 10px;
            margin-bottom: 10px;
            input {
                border-radius: .5rem;
                width: 100%;
                max-width: 200px;
                height: 25px;
                width: 110px;
                margin-right: 3px;
                background-color: map-get($colores_web,color_cuaternario);
                border: 0;
            }
            button {
                border-radius: .5rem;
                color: map-get($colores_web,color_primario);
                background-color: map-get($colores_web,color_terciario);
                width: 60px;
                height: 25px;
                border: 0;
                margin-left: 5px;
            }
        }
    }
    
    /* Main index responsive*/
    .main_index {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 20px 20px;
        padding: 10px;
        .section1_index {
            order: 1;
            background-color: map-get($colores_web,color_secundario);
            .titulo_index {
                margin-top: 10px;
                font-size: 17px;
                text-align: center;
            }
            .texto_index {
                font-size: 13px;
                font-weight: 700;
                text-align: center;
                margin-right: 15px;
                margin-left: 15px;
                
            }
        }
        .section2_index {
            order: 2;
            width: 100%;
        }
        .section3_index {
            order: 3;
            display: flex;
            flex-direction: column;
            padding: 20px;
            .caract_index_titulo {
                text-align: center;
                font-size: 15px;
                text-decoration: underline;
            }  
            .info_index {
                text-align: center;
                font-size: 13px;
                font-weight: 700;
            }  
        }
    }
    
    /*main contacto responsive*/

    .main_contacto {
        display: flex;
        flex-direction: column;
        margin-top: 40px;
        row-gap: 30px;
        .titulo_contacto{
            background-image: url(../images/Auto_contacto_titulo_mobile.jpg);
        .h2_titulo_contacto {
        font-size: 50px;
        }
    }
    .telefono_contacto{
        width: 100%;
        img{
            width: 12%;
        }
        .info_contacto {
            margin-bottom: 0;
            margin-left: 4%;
            font-size: 30px;
        }
    }
    .mail_contacto{
        width: 100%;
        img{
            width: 8%;
        }
        .info_contacto {
            margin-left: 4%;
            font-size: 25px;
            margin-top: 5px;
            margin-bottom: 5px;
        }
    }
    .direccion_contacto {
        width: 100%;
        img{
            width: 10%;
        }
        .info_contacto {
            margin-left: 4px;
            font-size: 25px;
            margin-top: 5px;
            margin-bottom: 5px;
        }
    }
}


    /*main de vehiculos responsive */
    .MainDeportivos{
        margin: 10% 10%;
        .Producto {
            @include estilo_productos_mobile ;
        } 
    }
    
    /*barra de nav mobile*/
    
    .navegacion_mobile{
        position: fixed;
        bottom: 0px;
        right: 0px;
        left: 0;
        background-color: map-get($colores_web,navegacion_mobile_color);
        padding-top:10px;
        padding-left: 5px;
        padding-right: 5px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        z-index: 1;
        a{
            display: flex;
            flex-direction: column;
            align-items: center;
            img {
                width: 45%;
            }
            .titulo_nav_mobile {
                color: map-get($colores_web,color_letra);
                font-size: 10px;
                text-align: center;
            }
        }
    }
    
    
    /* Footer responsive */
    footer {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        margin-bottom: 0px;
        padding: 10px;
        .copy {
            text-align: center;
            margin: 10px;
            font-size: 12px;
        }
        .medio {
            margin: 8px;
            text-align: center;
            margin-bottom: 10px;
            a {
                font-size: 12px;
                margin-right: 5px;
            }
        }
        .redes{
            margin-bottom: 50px;
            
        }
    }
    
    .redes ol {
        display: flex;
        flex-direction: row;
        justify-content: center;
        p {
            display: none;
        }
        a {
            font-size: 10px;
        }
    }
}
    